@charset 'utf-8';

//-------------------------------------------
//
//
//              テーマ
//
//
//-------------------------------------------
$main_color: #194098;

@mixin MX ($MXgpwidth: auto, $MXgpheight: auto, $gpwidth: 100%, $gpheight: auto, $gpmargin: 0 auto) {
    max-width: $MXgpwidth;
    max-height: $MXgpheight;
    width: $gpwidth;
    height: $gpheight;
    margin: $gpmargin;
}

@mixin FLEX($FLEXalign: center, $FLEXwrap: wrap, $FLEXdisplay: flex) {
    justify-content: $FLEXalign;
    flex-wrap: $FLEXwrap;
    display: $FLEXdisplay;
}

.theme-font_color {
    color: $main_color;
}

.theme-back_color {
    background-color: $main_color;
}

//-------------------------------------------
//
//
//              ベース
//
//
//-------------------------------------------

*,*::before,*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: $main_color;
}

body {
  font-size: 1.4rem;
}

//-------------------------------------------
//
//
//              レイアウト
//
//
//-------------------------------------------

#wrapper {
    width: 100%;
    overflow: hidden;
}

.l-header {
    position: relative;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    margin-top: 20px;
}

.l-main {
    
}

.l-footer {
    
}

.l-section {
    
}

.l-aside {
    
}

.flex-container {
    @include FLEX();
}

//-------------------------------------------
//
//
//              モジュール
//
//
//-------------------------------------------

//oocss的な超汎用モジュール
.fs65 {
    font-size: 6.5rem;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

//BEM的な狭いターゲット向けのモジュール
.top_icon {
    
    img {
        width: 100%;
        max-width: 50px;      
    }  
}

.top_icon {
  width: 123px;
  height: 123px;
  border-radius: 50%;
  background: #fff;
  text-align: center;
  padding: 30px 0 0 8px;
  position: absolute;
  left: calc(50% - 61.5px);
  z-index: 10;
}

.bord_container {
  max-width: 1130px;
  margin: 15px auto 0;
  position: relative;
  z-index: 1;
  height: 67px;
  overflow: hidden;
  padding: 0 2px;
  border-radius: 50px;
  display: flex;
  justify-content: space-around;
  background: #fff;
}

.bord_item {
  width: 150px;
  padding: 25px 0;
  transform: perspective(150px);
  color: #0f499d;
  line-height: 1;
  text-align: center;
    
    a {
        text-decoration: none;
        color: $main_color;
        font-size: 1.2rem;
    }
    
    &:nth-of-type(4) {
        margin-right: 258px;
    }
}

.page_top-section_title {
    font: {
        weight: 400;
        size: 14rem;
        style: normal;
        family: fatfrank, sans-serif;
    }
    margin-top: 180px;
    color: #fff;
    text-align: center;
}

.page_top {
    position: relative;

}

@keyframes top_back_wave {
    0% { background-position: 0 0; }
    100% { background-position: -1425px 0; }
}
.page_top-linebox {
    width: 954px;
    height: 206px;
    position: absolute;
    top: 215px;
    left: calc(50% - 472px);
    overflow: hidden;
}
@media screen and (max-width: 500px) {
    .page_top-linebox {
        width: 302px;
        height: 202px;
        left: calc(50% - 150px);
    }
    
}

.page_top-line {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-top: solid 1px #fff;
    border-left: solid 1px #fff;
    
    &:nth-of-type(1) {
            display: none;
        
    }
        
    &:last-of-type(4) {
            display: none;
        
    }
}

.page_top-text_item {
    color: #fff;
    font-size: 2.5rem;
}

//-------------------------------------------
//
//
//              ステート
//
//
//-------------------------------------------

